#qSomos{
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0;
    background-color: #F8F9FA;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #596272;
  }
  
  #qSomos h1{
    color: #212529;
  }
  
  #qSomos h2{
    color: #3cb0d4;
  }
  