body {
    font-family: Arial;
  }

input {
    float: left;
    width: 200px;
    margin-bottom: 10px;
}

label {
    clear: both;
    float: left;
    width: 180px;
}

button {
    clear: both;
    float: left;
    width: 50px;
}

.error-control {
    border: 1px solid rgba(0, 255, 21, 0.214);
}

label.error {
    color: rgb(0, 229, 255);
    width: 300px;
    font-size: 0.8em;
    margin-top: -5px;
    margin-bottom: 10px;
}

#caja{
    margin-top:50px;
    margin-left:20px;

}
